[#--
栏目翻页样式
pageClass: 翻页DIV class
    pageStyle: 翻页DIV style
--]
<link href="/${res}/css/pages.css" rel="stylesheet">

[#assign p=tag_pagination/]
 <div class="pages1 fr font13">
    <span>${pageNo}/${p.totalPage}</span>
[#if p.firstPage] <a disabled="disabled">上一页</a>[#t/]
[#else] <a href="#" onclick="location.href=encodeURI('${hrefFormer}[#if p.prePage gt 1]_${p.prePage}[/#if]${hrefLatter}');">上一页</a>[#t/]
[/#if]

[#if p.lastPage]&nbsp;<a disabled="disabled">下一页</a>
[#else]&nbsp;<a href="#" onclick="location.href=encodeURI('${hrefFormer}_${p.nextPage}${hrefLatter}');">下一页</a>
[/#if] 

 </div>  