/**
* @file:headerFooter
* @author:llj
*
* @update:2016-03-15
*/

.container {
    width:1024px;
    margin:0 auto;
}

/*====header====*/
.home-header {
    height: 108px;
}
.home-logo {
    padding-top: 16px;
}
.home-headerLinks {
    width:100%;
    text-align: right;
    margin-top: 8px;
}
.home-headerLinks a {
    color:#000000;
}
.home-headerLinks a + a {
    margin-left: 30px;
}
/*right*/
.home-headerFr {
    width:438px;
}
.home-headerForm {
    width:438px;
    margin-top: 18px;
}
.home-headerForm .form-group {
    margin-left: 12px;
}
.home-headerForm .form-group input {
    height: 30px;
    padding:6px 6px;
}
.home-headerForm .form-group label {
    padding-top: 5px;
    margin-right: 8px;
}
/*form*/
.home-headerInput {
    width:130px;
    float: left;
}
.home-headerPsd {
    width:135px;
    float: left;
}
.home-headerBtn {
    float: right;
    background: #126da6;
    padding:5px 12px;
}
/*====header End====*/


/*===home-nav===*/
.home-nav {
    width:100%;
    height: 48px;
    color:#fff;
    letter-spacing: 8px;
    background-color: #1e5194;
    padding-top: 7px;
}
.home-nav ul > li {
    float: left;
    line-height: 34px;
    font-size: 18px;
}
.home-nav ul > li + li {
    margin-left: 15px;
}
.home-nav ul > li > a {
    color:#fff;
    float: left;
    text-align: center;
    padding:0px 12px 0 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.home-nav ul > li.current > a ,
.home-nav ul > li > a:hover {
    background-color: #2a9cd1;
}
/*===home-nav End===*/


/*===home-footer===*/
.home-footer {
    width: 100%;
    color:#fff;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    background-color: #1e5194;
    padding:10px 0;
}
/*===登录框===*/
.mark{
    position: fixed;
    top: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.loginDiv{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 6;
    display: none;
    width: 354px;
    height: 246px;
    padding: 42px 30px 12px 30px;
    margin: 0 auto;
    background: url("../images/loginbg.jpg") no-repeat;
}
.loginDiv-form{
    width: 100%;
    height: 158px;
}
.loginDiv-form input{
    width: 293px;
    height: 36px;
    line-height: 16px;
    padding: 10px 10px 10px 35px;
    margin-top: 17px;
    border:1px solid #1e5194;
    background-color: #fff;
}
.loginDiv-form input.loginDiv-username{
    background-image: url("../images/login-user.jpg");
    background-repeat: no-repeat;
    background-position:  10px 11px;
}
.loginDiv-form input.loginDiv-password{
    background-image: url("../images/login-password.jpg");
    background-repeat: no-repeat;
    background-position:  10px 11px;
}
.loginDiv-form input.loginDiv-submit{
    padding: 10px;
    border: none;
    color: #fff;
    background: url("../images/login-submit.jpg") no-repeat;
    font-size: 16px;
}
.loginDiv-reminderWrap{
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
}
.loginDiv-reminderWrap a{
    color: #1e5194;
}
.loginDiv-reminderWrap span {
    color: #f00;
}
