/**
* @file:database
* @author:lyc
*
* @update:2016-04-14
*/

/*===database===*/
.databaseWrap{
    width: 775px;
    min-height: 500px;
    border: 1px solid #dcdcdc;
    color: #000;
}
.database-searchWrap{
    width: 775px;
    height: 180px;
    padding: 10px 20px;
}
.database-searchWrap > div{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.database-searchForm label,
.database-searchWrap > div > span{
    display: inline-block;
    width: 105px;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
    text-align: right;
    color: #2a9cd1;
}
.database-searchForm input[type=text]{
    width: 190px;
    height: 32px;
    padding: 6px;
    border: 1px solid #dcdcdc;
    margin-top: 4px;
    margin-right: 10px;
    line-height: 30px;
}
.database-searchForm input[type=submit]{
    width: 63px;
    height: 32px;
    border: none;
    margin-top: 4px;
    line-height: 32px;
    color: #fff;
    background: #2a9cd1;
    text-align: center;
}
.database-searchWrap > div > p{
    width: 600px;
    height: 40px;
    line-height: 40px;
}
.database-searchWrap > div > p a{
    display: inline-block;
    float: left;
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    color: #000;
}
.database-searchWrap > div.database-searchInitial > p > a{
    margin-right: 5px;
}
.database-searchWrap > div.database-searchLanguage > p > a{
    padding: 0 5px;
    margin-right: 15px;
}
.database-searchWrap > div.database-searchType > p > a{
    padding: 0 5px;
    margin-right: 10px;
}
.database-searchWrap > div > p a.current{
    color: #fff;
    background: #2a9cd1;
}
.databaseList{
    width: 100%;
}
.databaseList li{
    width: 100%;
    height: 32px;
}
.databaseList li.databaseList-first{
    background: #e5e5e5;
}
.databaseList li.databaseList-single{
    background: #f4f4f4;
}
.databaseList li.databaseList-double{
    background: #fff;
}
.databaseList li span,
.databaseList li a{
    display: inline-block;
    float: left;
    height: 32px;
    padding: 0 13px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.databaseList li span.databaseList-name{
    width: 297px;
    border-right: 1px solid #fff;
}

.databaseList li span.databaseList-type{
    width: 230px;
    border-right: 1px solid #fff;
}
.databaseList li span.databaseList-brief,
.databaseList li a.databaseList-brief{
    width: 139px;
    border-right: 1px solid #fff;
    color: #000;
}
.databaseList li span.databaseList-visit{
    width: 107px;
}
.databaseList li a.databaseList-visit {
    width: 107px;
    color: #2a9cd1;
}

/*===database 结束===*/


/*=== databaseDetail ===*/
.mark{
    position: fixed;
    top: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}

.databaseDetail{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 6;
    display: none;
    width: 900px;
    height: 580px;
    margin: 0 auto;
    background: #fff;
}
@media screen and (max-width: 1600px) {
    .databaseDetail{
        position: fixed;
        top: 20px;
    }
}
@media screen and (device-width: 1920px){
    .databaseDetail{
        position: fixed;
        top: 20%;
    }
}
.databaseDetail_title{
    width: 100%;
    height: 44px;
    padding: 0 10px;
    color: #fff;
    background: #1e5194;
}
.databaseList li .databaseDetail_title span{
    height: 44px;
    line-height: 44px;
}
.databaseDetail_title .databaseDetail_close{
    cursor: pointer;
    float: right;
}
.databaseDetail_con{
    width: 900px;
    height: 495px;
    padding: 0 40px;
    margin-top: 17px;
    line-height: 28px;
    color: #000;
    text-align: justify;
    overflow-y: auto;
}
.databaseDetail_con > p:first-child{
    width: 850px;
    margin: 0 -15px 5px;
    height: 42px;
    line-height: 42px;
    color: #000;
}
/*===databaseDetail 结束===*/