/**
* @file:donate
* @author:lyc
*
* @update:2016-04-14
*/

/*===donate===*/
.donateWrap{
    width: 775px;
    min-height: 500px;
    border: 1px solid #dcdcdc;
    color: #000;
}
.donateWrap > p{
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.donateExplain{
    width: 729px;
    height: 200px;
    margin: 0 23px 15px;
    padding: 12px;
    border:1px dashed #dcdcdc;
    overflow-y: auto;
    line-height: 32px;
    text-indent: 2em;
}

.donateSearchForm{
    width: 100%;
    height: 32px;
    padding: 0 23px;
    margin-top: 13px;
    margin-bottom: 20px;
}
.donateSearchForm div label{
    line-height: 32px;
    margin-right: 5px;
}
.donateSearchForm div input,
.donateSearchForm div select{
    width: 156px;
    height: 32px;
    padding: 6px;
    margin-right: 15px;
    border: 1px solid #dcdcdc;
}
.donateSearchForm div select{
    width: 100px;
    height: 32px;
    line-height: 32px;
    padding-left: 6px;
}
.donateSearchForm .donateSearch-btn{
    height: 32px;
    padding: 0 15px;
    border: none;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background: #2a9cd1;
}
.donateList{
    width: 100%;
}
.donateList li{
    width: 100%;
    height: 32px;
}
.donateList li.donateList-first{
    background: #e5e5e5;
}
.donateList li.donateList-single{
    background: #f4f4f4;
}
.donateList li.donateList-double{
    background: #fff;
}
.donateList li a,
.donateList li span{
    display: inline-block;
    float: left;
    height: 32px;
    padding: 0 13px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.donateList li span.donateList-bookName,
.donateList li a.donateList-bookName{
    width: 282px;
    border-right: 1px solid #fff;
    color: #000;
}

.donateList li span.donateList-name{
    width: 120px;
    border-right: 1px solid #fff;
}
.donateList li span.donateList-num{
    width: 120px;
    border-right: 1px solid #fff;
}
.donateList li span.donateList-type{
    width: 111px;
    border-right: 1px solid #fff;
}
.donateList li span.donateList-date{
    width: 140px;

}
