/**
* @file:library
* @author:lyc
*
* @update:2016-04-25
*/

/*===library===*/
.libraryWrap{
    width: 775px;
    min-height: 615px;
    border: 1px solid #dcdcdc;
    color: #000;
}
.libraryWrap > p{
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.libraryExplain{
    width: 729px;
    min-height: 350px;
    height: 100%;
    overflow: hidden;
    margin: 0 23px 15px;
    padding: 12px;
    line-height: 32px;
    text-indent: 2em;
}

.goldDiscSearchForm{
    width: 600px;
    height: 32px;
    padding: 0 23px;
    margin: 50px auto 20px;

}
.goldDiscSearchForm p{
    line-height: 32px;
    margin-right: 30px;
}
.goldDiscSearchForm input[type="text"]{
    width: 350px;
    height: 32px;
    padding: 6px;
    margin-right: 15px;
    border: 1px solid #dcdcdc;
}
.goldDiscSearchForm input[type="submit"]{
    height: 32px;
    padding: 0 15px;
    border: none;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background: #2a9cd1;
}
/*===library 结束===*/