/**
  * @file:librarian
  * @author:lyc
  *
  * @update:2016-04-25
  */

.librarianList{
    width: 775px;
    min-height: 235px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    border: 1px solid #dcdcdc;
}
.librarianList_sub{
    width: 100%;
    height: 235px;
    padding: 20px 20px;
    border-bottom: 1px dashed #dcdcdc;
    margin-bottom: -1px;
}
.librarianList_sub_img{
    width: 133px;
    height: 194px;
    margin-right: 23px;
}
.librarianList_sub_info{
    width: 577px;
    height: 194px;
}
.librarianList_sub_info table{
    width: 577px;
    height: 194px;
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.librarianList_sub_info table tr{
    height: 32px;
}
.librarianList_sub_info table td{
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 10px;
}
.librarianList_sub_info table td.librarianList_sub_left{
    text-align: center;
    color: #1e5194;
}
.librarianList_sub_info table td span{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 468px;
    height: 90px;
    padding: 0 10px;
    margin-bottom: 0px;
    line-height: 24px;
    overflow-y:auto;
    text-align: justify;
}