/**
* @file:navigationVersionPhoto
* @author:llj
*
* @update:2016-03-17
*/
html {
    background: url(../images/bg.jpg) no-repeat scroll 50% 111px;
    background-attachment: fixed;
    background-size: cover;
}

.navigationVersion_tabs_bd .navigationVersion_tab_panel {
    background: url(../images/navigationVersion-tabBg.png) no-repeat scroll 0 0;
}

.navigationVersion-tabSubmit {
    background: url(../images/navigationVersion-tabSubmit.jpg) no-repeat scroll 0 0;
}