/**
* @file:newBookList
* @author:lyc
*
* @update:2016-04-06
*/

/*===newBookListFr===*/

.newBookListWrap{
    margin: 20px -84px 20px 0;
    width:856px;
}
.newBookListWrap .booksFr-tab_panel,.newBookListWrap .booksFr-tab_panel ul.booksFrList {
    width: 856px;
}

.newBookListWrap .booksFr-tab_panel ul.booksFrList li {
    margin: 0 84px 15px 0;
}
.newBookListWrap ul.booksFrList li .booksFr_brief p,
.newBookListWrap ul.booksFrList li .booksFr_brief a{
    height: 24px;
    line-height: 24px;
}
