/*inside container*/
.inside-bg{
    width: 100%;
    min-width: 1024px;
    min-height:860px;
    height: 100%;
    overflow: hidden;
    background: url("../images/bodybg.jpg") center top no-repeat;
}

/*insideFl*/
.insideFl{
    width:248px;
    min-height:100px;
    height: 100%;
    overflow: hidden;
}
.inside-searchWrap,.inside-listWrap,.inside-helpWrap{
    width: 246px;
    height: 115px;
    border: 1px solid #dcdcdc;
    background: #fff;

}
.inside-search{
    margin: 15px;
    width: 215px;
    height:32px;
}
.inside-search input.inside_search_text {
    border: 1px solid #dcdcdc;
    border-right: 0;
    padding:0 8px;
    height: 32px;
    line-height: 30px;
    width: 173px;
}
.inside-search input.inside_search_submit{
    width: 42px;
    height: 32px;
    background: #1e5194 url("../images/search_icon.png") center no-repeat;
    border: none;
}
.inside-listWrap{
    min-height: 100px;
    height: 100%;
    overflow: hidden;
}
.inside-list{
    margin: 15px;
    width:215px;
    min-height: 100px;
    height: 100%;
    overflow: hidden;
}
.inside-listWrap a.classify_listAll{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding-left: 8px;
    padding-right: 8px;
    background: #1e5194;
    text-align: center;
    color: #fff;
}
.inside-helpWrap{
    min-height: 130px;
    height: 100%;
    overflow: hidden;
}
.inside-help{
    margin: 15px;
    min-height: 40px;
    height: 100%;
    overflow: hidden;
}
.inside-help a{
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #1e5194;
}

/*insideFr*/
.insideFr{
    margin-left: 45px;
    width: 731px;
    min-height:860px;
    height: 100%;
    overflow: hidden;
}

.insideFr-tabs{
    width: 731px;
    min-height:860px;
    height: 100%;
    overflow: hidden;
}
.insideFr-tabs_nav{
    width: 730px;
    border-bottom:1px solid #dcdcdc;
    border-left:1px solid #dcdcdc;
    height:32px;
}
.insideFr-tabs_nav li{
    width: 80px;
    height: 32px;
    line-height: 32px;
    margin-bottom: -1px;
    background:#eee;
    text-align: center;
    border:1px solid #dcdcdc;
    border-left: 0;
    float: left;
    cursor: pointer;
}
.insideFr-tabs_nav li a{
    color:#777;
}
.insideFr-tabs_nav li.insideFr-tab_active{
    background:#fff;
    border-bottom:1px solid #fff;
    font-weight: bold;
}
.insideFr-tabs_nav li.insideFr-tab_active a{
    color: #000;

}