/**
* @file:header
* @author:llj
*
* @update:2016-03-15
*/

/*====header====*/
.header {
    background-color: #ffffff;
}
.headerLogo {
    float: left;
    margin-top: 10px;
}
/*====header结束====*/
