   <div class="container">
        <!--logo-->
        <div class="fl home-logo">
            <img src="/${res}/images/logo2.jpg" width="294" height="53" alt="logo">
        </div>
        <!--right-->
        <div class="fr home-headerFr">
            <!--form-->
            <div class="fl home-headerForm">
                <a class="btn home-headerBtn fr" href="javascript:void(0);" >登录</a>
                <!--     登录表单提交内容
                  <form class="form">
                      <div class="fl form-group">
                          <label class="fl">用户名</label>
                          <input type="text" class="fl home-headerInput borderRadius" placeholder="请输入读者证号">
                      </div>
                      <div class="fl form-group">
                          <label class="fl">密码</label>
                          <input type="password" class="fl home-headerPsd borderRadius" placeholder="初始密码：123456">
                      </div>
                      <input type="submit" class="btn home-headerBtn" value="登录">
                  </form>
  -->
            </div>
            <!--username--><!--登录后显示username-->
            <div class="home-headerUser"  style="display: none;">
                <span>姓名</span>
                <a href="javascript:void(0);" class="fr home-headerExit ml20">退出</a>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    
    <!--点击登录后的弹出框-->
<div class="loginDiv">
    <div class="loginDiv-form">
        <form class="form-group">
            <input type="text" class="loginDiv-username" placeholder="请输入读者证号">
            <input type="password" class="loginDiv-password" placeholder="初始密码为123456">
            <input type="submit" class="loginDiv-submit" value="">
        </form>
    </div>
    <div class="loginDiv-reminderWrap">
        <a class="login_close fl" href="javascript:void(0);"><i class="fa fa-reply"></i>&nbsp;返回上一步</a>
        <span class="fr">用户名错误！</span>
    </div>

</div>
<script type="text/javascript" src="/${res}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(function() {

    //点击登录
    $(".home-headerBtn").click(function () {
        $(".home-footer").after("<div class='mark'></div>");
        $(".mark").fadeIn("slow");
        $(".loginDiv").fadeIn("slow");
    });
    //点击返回上一步关闭
    $(".login_close").click(function () {
        $("div").remove(".mark");
        $(".mark").fadeOut("slow");
        $(this).parent().parent().fadeOut("slow");
    });
});
</script>