<div class="container">
        <span class="fl"><img src="/${res}/images/search-searchImg.jpg" width="383" height="31"></span>
        <ul class="font14 fr">
            <li><a href="javascript:void(0);"><i class="fa fa-thumbs-up font-weight"></i><p>资源推荐</p></a> </li>
            <li><a href="javascript:void(0);"><i class="fa fa-clipboard font-weight"></i><p>系统介绍</p></a> </li>
            <li><a href="javascript:void(0);"><i class="fa fa-pie-chart font-weight"></i><p>数据统计</p></a> </li>
            <li><a class="current" href="javascript:void(0);"><i class="fa fa-paw font-weight"></i><p>我的足迹</p></a> </li>
        </ul>
        <div class="clear-both"></div>
</div>