<div class="advancedSearchDiv pb40">
    <div class="advancedSearchDiv-title font18">
        <span class="fl">高级检索</span>
        <span class="search-close fr"><i class="fa fa-close "></i></span>
        <div class="clear-both"></div>
    </div>
    <!--advancedSearchDiv-searchDiv Start-->
    <div class="advancedSearchDiv-searchDiv">
        <ul class="search-tab-nav font18" >
            <li class="search-tab_active"><a href="javascript: void(0)">全部分类</a></li>
            <li><a href="javascript: void(0)">电子图书</a></li>
            <li><a href="javascript: void(0)">馆藏书目</a></li>
            <li><a href="javascript: void(0)">期刊</a></li>
            <li><a href="javascript: void(0)">论文</a></li>
            <li><a href="javascript: void(0)">报纸</a></li>
            <li><a href="javascript: void(0)">外文电子图书</a></li>
            <li><a href="javascript: void(0)">光盘</a></li>
            <li><a href="javascript: void(0)">多媒体</a></li>
            <li><a href="javascript: void(0)">特色资源</a></li>
        </ul>
        <div class="clear-both"></div>
        <!--advancedSearchDiv-tabs_bd Start-->
        <div class="advancedSearchDiv-tabs_bd">
            <!--全部分类-->
            <div class="advancedSearchDiv-tab_panel advancedSearchDiv_active">
                <form class="form" id="lyc_adv">
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl" id="add"><i class="fa fa-plus" ></i></span><span class="fr" id="remove"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option value="题名" selected="selected">题名</option>
                            	<option value="作者">作者</option>
                           		<option value="关键词">关键词</option>
                            	<option value="单位">单位</option>
                            	<option value="刊名">刊名</option>
                            	<option value="时间">时间</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox" id="lyc">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option value="题名" selected="selected">题名</option>
                            	<option value="作者">作者</option>
                           		<option value="关键词">关键词</option>
                            	<option value="单位">单位</option>
                            	<option value="刊名">刊名</option>
                            	<option value="时间">时间</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" /> 
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--电子图书-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--馆藏书目-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--期刊-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--论文-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                 
                </form>
                  <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
            </div>
            <!--报纸-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--外文电子图书-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--光盘-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--多媒体-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
            <!--特色资源-->
            <div class="advancedSearchDiv-tab_panel">
                <form class="form" >
                    <!--advancedSearchDiv-formBox 第一个-->
                    <div class="advancedSearchDiv-formBox">
                        <div class="advancedSearchDiv-btn font18 fl"><span class="fl"><i class="fa fa-plus"></i></span><span class="fr"><i class="fa fa-minus"></i></span></div>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体-->
                    <div class="advancedSearchDiv-formBox">
                        <select class="advancedSearchDiv-accuracy fl">
                            <option>并且</option>
                            <option>或者</option>
                        </select>
                        <div class="advancedSearchDiv-formBoxSub ml10 fr ">
                            <select class="advancedSearchDiv-condition fl">
                                <option>题名</option>
                                <option>类别</option>
                                <option>类别</option>
                            </select>
                            <input type="text" class="ml10 fl" placeholder="请输入您要检索的内容" />
                            
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <!--advancedSearchDiv-formBox 循环体结束-->

                    <div class="advancedSearchDiv-submit"><input type="submit" value="检  索"></div>
                </form>
            </div>
        </div>
        <!--advancedSearchDiv-tabs_bd End-->
    </div>
    <script type="text/javascript">
       //增加删除条件
    	$(function(){
    		$("#add").click(function(){
    			
    		   var obj = $("#lyc").clone(true);
    		   debugger;
    		   //alert(obj);
    		   $("#lyc_adv .advancedSearchDiv-formBox:last").after(obj);
    		        
    		}); 
    		$("#remove").click(function(){
    			var count = $("#lyc_adv .advancedSearchDiv-formBox").size();
    			if(count<=2){
    				
    			}else{
    				$("#lyc_adv .advancedSearchDiv-formBox:last").remove();
    			}
    		});
    		//alert("aaa");
    	});
    </script>