
/*favorites*/
.favorites{
    width:305px ;
    height: 225px;
    border: 1px solid #dcdcdc;
}

.favoritesList,.favoritesList ul{
    width: 250px;
    height:168px;

}
.favoritesList{
    margin-left: 18px;
    overflow-y: auto;
    margin-top: 2px;
    padding-right: 33px;
    width: 283px;
}
.favoritesList ul li{
    width: 100%;
    height:28px;
    line-height: 28px;
    overflow: hidden;
}
.favoritesList ul li a{
    color: #000;
    display: inline-block;
    width: 155px;
    height: 28px;
    line-height:28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.favoritesList ul li span{
    cursor: pointer;
    color: #1e5194;
}

.favoritesList > p.pleaseLogin{
    padding-top: 15px;
    line-height: 30px;
}
.favoritesList > p.pleaseLogin a{
    padding: 5px 12px;
    color: #1e5194;
}

/*hot*/
.hotWrap{
    width: 305px;
    height: 307px;
    padding: 17px 15px 0;
    background: #f5f5f5;
}
.hotWrap h3{
    height: 30px;
    line-height: 30px;
}
.hot{
    width: 275px;
    height: 260px;
    overflow: hidden;
}
.hot li{
    width: 275px;
    height: 25px;
    line-height: 25px;
    margin-top: 6px;

}
.hot li span{
    display: inline-block;
    width: 24px;
    height: 25px;
    line-height: 25px;
    background: #b5a4a3;
    color: #fff;
    text-align: center;
    margin-right: 22px;
}
.hot li span.hot_red{
    background: #f75a53;
}
.hot li a{
    color: #000;
    width: 227px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;

}