
/*musicFl*/

.musicFl{
    width: 694px;
    min-height: 570px;
    height: 100%;
    overflow: hidden;
}
.music-briefWrap{
    width: 694px;
    height: 170px;
    border: 1px solid #dcdcdc;
    padding: 20px;
}
.music-brief_specialImg{
    width: 130px;
    height: 130px;
}
.music-brief{
    width: 500px;
    height: 130px;
    color: #898989;
}
.music-brief > p.music-brief_name{
    width: 340px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    margin-bottom: 6px;
}
.music-brief > div.music-brief_explain{
    width: 150px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}
.music-brief p{
    width: 100%;
    height: 22px;
}
.music-brief span.music-brief_context{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-align: justify;
}
.music-brief_addFav{
    position: relative;
    top:-20px;
    color: #1e5194;
}

.music-play{
    width: 694px;
    height: 34px;
}
.music-list{
    width: 694px;

}
.music-list table{
    width: 694px;
    border-bottom: 2px solid #dcdcdc;
}
.music-list table tr{
    width: 694px;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dashed #dcdcdc;

}
.music-list table td.music_num{
    width: 45px;
    text-align: center;
    color: #888;
}
.music-list table td.music_name{
    width:320px ;
}
.music-list table td.music_checkBox {
    width: 25px;
}
.music-list table td.music_checkBox input{
    position: relative;
    top: 2px;
}
.music-list table td.music_name{
    width: 320px;
    padding-left: 5px;
}
.music-list table td.music_singer{
    width: 255px;

}
.music-list table td.music_paly{
    width: 40px;

}
.music-list table td.music_paly i{
    color: #1e5194;
    padding-left: 7px;

}

.music-operate{
    width: 694px;
    height: 32px;
    margin-top: 17px;
}
.music-operate a{
    display:block;
    border-radius: 5px;
    margin-right: 15px;
    padding: 5px 10px;
    color: #fff;
}
.music-operate a.music-operate_btn{
    background: #2a9cd2;
}
.music-operate a.music-operate_play{
    background: #88cb5a;
}
.music-operate a.music-operate_addFav{
    background: #f9d602;
}



/*musicFr*/

.musicFr{
    width: 305px;
    min-height: 100px;
    height: 100%;
    overflow: hidden;
}
.mt35{
    margin-top: 35px;
}