
/*musicFl*/
.music_list_group {
    width: 225px;
    min-height: 60px;
    height: 100%;
    overflow: hidden;
    margin-right: -10px;
}
.music_list_group > p{
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin-top: 3px;
}
.music_list_group > p a{
    height: 26px;
    line-height: 26px;
    color: #1e5194;
}

.music_list_group li{
    float: none;
    display: inline;
}
.music_list_group li a{
    display:inline-block;
    float: left;
    padding:0 8px;
    height: 26px;
    line-height: 26px;
    color:#777;
    word-break: keep-all;
    border: 1px solid #dcdcdc;
    margin: 3px 7px 3px 0;
}

/*musicFr*/
.musicFr-tabs_bd{
    margin:20px -70px 20px 0;
    width: 800px;
    min-height: 800px;
    height: 100%;
    overflow: hidden;
}
.musicFr-tab_panel,.musicFr-tab_panel ul.musicFrList{

    width: 800px;
    min-height: 800px;
    height: 100%;
    overflow: hidden;
}
.musicFr-tab_panel{
    display: none;
}
.musicFr-tab_panel ul.musicFrList li{
    margin: 0 70px 15px 0;
    width: 130px;
    height: 255px;
    float: left;
}
.musicFr-tab_panel ul.musicFrList li .musicFr_brief{
    width: 130px;
    height: 120px;
    margin-top: 3px;
}
.musicFr-tab_panel ul.musicFrList li .musicFr_brief p,
.musicFr-tab_panel ul.musicFrList li .musicFr_brief a{
    display: block;
    color:#000;
    width: 100%;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.musicFr-tab_panel ul.musicFrList li .musicFr_brief a:hover{
    color:#1e5194;
}
.musicFr-tab_panel ul.musicFrList li .musicFr_brief p.musicFr_seeNum{
    color:#1e5194;
}
.musicFr_active{
    display: block;
}
