/*prePage nextPage*/
.pages1{
    width: 210px;
    height: 30px;
    padding: 5px 0;
    text-align: right;
    color:#777;
}
.pages1 a{
    margin-left: 6px;
    display:inline-block;
    height: 22px;
    line-height: 22px;
    width:65px;
    border: 1px solid #dcdcdc;
    text-align: center;
    color: #777;
}

/*pagesNum*/
.pages2{
    text-align: center;
    width: 100%;
}
.pages2 a{
    color: #777;
    border: 1px solid #dcdcdc;
    padding: 5px 9px;
    background: #fff;
}
.pages2 a.currentpage{
    color: #fff;
    border: 1px solid #1e5194;
    background: #1e5194;
}
.pages2 a:hover{
    color:#1e5194;
}
.pages2 a.currentpage:hover{
    color: #fff;
}