/**
* @file:disk
* @author:lyc
*
* @update:2016-04-05
*/

/*====diskFl====*/
.disk-searchWrap{
    height: 165px;
}
.disk-searchWrap select.disk-listChecked{
    width: 215px;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    margin-bottom: 12px;
    border: 1px solid #dcdcdc;
}

.disk-listWrap .disk-list{
    margin: 2px;
    padding: 13px;
    width:241px;
    min-height: 100px;
    max-height:569px;
    overflow-x: hidden;
    overflow-y: auto;
}
.disk-listWrap .disk-list ul{
    width: 215px;
}
.disk-listWrap .disk-list ul li{

    width: 215px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;

}
.disk-listWrap .disk-list ul li a{
    width: 215px;
    height: 29px;
    display:block;
    overflow: hidden;
    color: #777;
}
.disk-listWrap .disk-list ul li a em{
    color: #8fb5d9;
}
.disk-listWrap .disk-list ul li a:hover{
    color: #1e5194;
}

/*====diskFl End====*/


/*=== diskTable ===*/

.insideFr-tabs{
    height: 815px;
}

.disk-table{
    width: 731px;
    border: 1px solid #dcdcdc;
    border-right: 0;
}
.disk-table tr td{
    padding: 0 10px;
    height: 38px;
    border-right: 1px solid #dcdcdc;
    background: #f6f6f6;
    color: #777;
    overflow: hidden;

}
.disk-table tr.disk-tableTitle td{
    padding: 0;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #000;
    text-align: center;
}
.disk-table tr.single td{
    background: #fff;
}
.disk-table td.disk-tableNum{
    text-align: center;
    color: #454545;
}
.disk-table td.disk-tableName{
    color: #1e5194;
}
.disk-table td.disk-tableName a{
    position: relative;
    top: 8px;
    display: inline-block;
    width: 190px;
    height: 30px;
    overflow: hidden;
    color: #1e5194;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.disk-table td.disk-tableName i {
    position: relative;
    top: 12px;
    right: -2px;
    cursor: pointer;
}

.disk-table td.disk-tableAuthor span,
.disk-table td.disk-tablePress span,
.disk-table td.disk-tableIndexNum span{
    position: relative;
    top: 10px;
    display: block;
    width: 127px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;

}
.disk-table td.disk-tablePress span{
    width: 113px;
}
.disk-table td.disk-tableIndexNum span{
    width: 88px;
}
.disk-table td.disk-tableOperation{
    text-align: center;
}
.disk-table td.disk-tableOperation a{
    display: inline-block;
    width: 36px;
    height: 27px;
    line-height: 27px;
    border-radius: 5px;
    background: #1e5194;
    color: #fff;
    text-align: center;
}

/*disk-popup*/
.disk-popup{
    display: none;
    position: absolute;
    z-index: 5;
    margin-left: 0;
    margin-top: -5px;
    padding: 10px 20px;
    width: 470px;
    min-height: 100px;
    line-height: 20px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 5px #dcdcdc;
    color: #777;
    background: #fff;
}
.disk-popup p{
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.disk-popup p.disk-popupIndexNum,
 .disk-popup p.disk-popupUploadingDate{
    color: #000;
}
.disk-popup span{
    display: block;
    width: 100%;
    min-height: 20px;
    height: 100%;
    overflow: hidden;
    text-align: justify;
}

/*=== diskTable End ===*/