[#assign p=tag_pagination/]
 <div class="pages1 fr font13">
    <span>${pageNo}/${p.totalPage}</span>
[#if p.firstPage] <a disabled="disabled">&lt;上一页</a>
[#else] <a href="#" onclick="location.href=encodeURI('${hrefFormer}[#if p.prePage gt 1]_${p.prePage}[/#if]${hrefLatter}');">上一页</a>
[/#if]

[#if p.lastPage]<a disabled="disabled">下一页 &gt;</a>
[#else]<a href="#" onclick="location.href=encodeURI('${hrefFormer}_${p.nextPage}${hrefLatter}');">下一页</a>
[/#if] 

 </div>  