/**
* @file:headerFooter
* @author:llj
*
* @update:2016-03-15
*/

/*====header====*/
.home-header {
    height: 72px;
}
.home-logo {
    padding-top: 10px;
}

/*right*/
.home-headerFr {
    width:438px;
}
.home-headerForm,.home-headerUser {
    width:438px;
    margin-top: 23px;
}
.home-headerForm .form-group {
    margin-left: 12px;
}
.home-headerForm .form-group input {
    height: 30px;
    padding:6px 6px;
}
.home-headerForm .form-group label {
    padding-top: 5px;
    margin-right: 8px;
}
/*form*/
.home-headerInput {
    width:130px;
    float: left;
}
.home-headerPsd {
    width:135px;
    float: left;
}
.home-headerBtn {
    float: right;
    background: #126da6;
    padding:5px 12px;
}
.home-headerUser{
    text-align: right;
}
.home-headerUser span{
    line-height: 30px;
}
.home-headerUser a.home-headerExit{
    display: inline-block;
    background: #126da6;
    padding:5px 12px;
    color: #fff;
}
/*====header End====*/

/*====banner End====*/
.banner{
    width: 100%;
    min-width: 1024px;
    height:123px;
}
/*====banner End====*/



/*===home-footer===*/
.home-footer {
    width: 100%;
    min-width: 1024px;
    color:#fff;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    background-color: #1e5194;
    padding:10px 0;
}
/*===登录框===*/
.mark{
    position: fixed;
    top: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.loginDiv{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 6;
    display: none;
    width: 354px;
    height: 246px;
    padding: 42px 30px 12px 30px;
    margin: 0 auto;
    background: url("../images/loginbg.jpg") no-repeat;
}
.loginDiv-form{
    width: 100%;
    height: 158px;
}
.loginDiv-form input{
    width: 293px;
    height: 36px;
    line-height: 16px;
    padding: 10px 10px 10px 35px;
    margin-top: 17px;
    border:1px solid #1e5194;
    background-color: #fff;
}
.loginDiv-form input.loginDiv-username{
    background-image: url("../images/login-user.jpg");
    background-repeat: no-repeat;
    background-position:  10px 11px;
}
.loginDiv-form input.loginDiv-password{
    background-image: url("../images/login-password.jpg");
    background-repeat: no-repeat;
    background-position:  10px 11px;
}
.loginDiv-form input.loginDiv-submit{
    padding: 10px;
    border: none;
    color: #fff;
    background: url("../images/login-submit.jpg") no-repeat;
    font-size: 16px;
}
.loginDiv-reminderWrap{
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
}
.loginDiv-reminderWrap a{
    color: #1e5194;
}
.loginDiv-reminderWrap span {
    color: #f00;
}

