 [@cms_channel_list parentId=76]
                [#list tag_list as c]
		             [#if c.name='情报服务']
		                     <li class="homeSiteFl-listSub homeSiteFl-current"><a href="javascript:void(0);">${c.name}</a>
		                       <ul>
                           			 [@cms_channel_list parentId=c.id]
                    					[#list tag_list as a]
                    					
                    					[#if a.path='kjcx']
                    					<li><a  class="homeSiteFl-subCurrent" href="${a.url}">${a.name}</a></li>
                    					[#else]
                    					<li><a href="${a.url}">${a.name}</a></li>
                    					[/#if]
                    					[/#list]
                   					 [/@cms_channel_list] 
                			   </ul>
		                     </li>
		                   [#elseif c.name='咨询服务']
		                     <li class="homeSiteFl-listSub"><a href="javascript:void(0);">${c.name}</a>
		                       <ul>
                           			 [@cms_channel_list parentId=c.id]
                    					[#list tag_list as a]
                    					<li><a href="${a.url}">${a.name}</a></li>
                    					[/#list]
                   					 [/@cms_channel_list] 
                			   </ul>
		                     </li>
		                [#else]
		                
		                 <li class="homeSiteFl-listSub"><a href="${c.url}">${c.name}</a></li>
		                 
		             [/#if]
                 [/#list]
[/@cms_channel_list] 