



/*booksFr*/
.booksFr-tabs_bd{
    margin:20px -70px 20px 0;
    width: 820px;
    min-height: 800px;
    height: 100%;
    overflow: hidden;
}
.booksFr-tab_panel,.booksFr-tab_panel ul.booksFrList{

    width: 800px;
    min-height: 800px;
    height: 100%;
    overflow: hidden;
}
.booksFr-tab_panel{
    display: none;
}
.booksFr-tab_panel ul.booksFrList li{
    margin: 0 70px 15px 0;
    width: 130px;
    height: 290px;
    float: left;
}
.booksFr-tab_panel ul.booksFrList li .booksFr_brief{
    width: 130px;
    height: 95px;
    margin-top: 5px;
}
.booksFr-tab_panel ul.booksFrList li .booksFr_brief p,
.booksFr-tab_panel ul.booksFrList li .booksFr_brief a{
    display: block;
    color:#000;
    width: 100%;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.booksFr-tab_panel ul.booksFrList li .booksFr_brief a:hover{
    color:#1e5194;
}
.booksFr-tab_panel ul.booksFrList li .booksFr_brief p.booksFr_seeNum{
    color:#1e5194;
}
.booksFr_active{
    display: block;
}

